# Python
__pycache__/
*.pyc
*.pyo

# Build
build/
dist/
build_nuitka_test/

# Temporary work
_cytranslator_work/

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# User config (API key)
config.json